@import "@primer/primitives/dist/css/primitives.css";
@import "@primer/primitives/dist/css/functional/themes/light.css";
@import "@primer/primitives/dist/css/functional/themes/dark.css";

body {
  margin: 0;
  background-color: var(--bgColor-default);
  color: var(--fgColor-default);
}
